.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.wish-box-item {
    position: relative; /* Để định vị nút */
}
.wish-box-item i {
    position: absolute; /* Định vị nút */
    right: 10px; /* Cách bên phải */
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%); /* Đẩy lên giữa */
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.wish-box-item p {
    padding: 3px 33px 2px 0px;
}
.wish-box-item span {
    padding-left: 20px;
}

.couple-img img{

    object-fit: cover; /* Cắt ảnh để vừa với khung tròn */
    transform: translate(0%, 1%);
}

/* .co-dau img {
    transform: scale(3.5) translate(6%, 10%);
}
.chu-re img {
    transform : scale(3.5) translate(-15%, 12%);
} */
.quote-img img {
    object-fit: cover;
}

.the-countdown {
    background-size: 64% !important;
}

@media only screen and (max-width: 600px) {
    .slide-inner {
        background-position: 70%;
    }
    .the-countdown {
        background-position: 10% 13% !important;
        background-size: cover !important;
    }
}
